{% extends 'base.html' %}

{% block title %}Calculate Billing{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">Billing Calculator</h5>
                </div>
                <div class="card-body">
                    <form method="POST">
                        {{ form.hidden_tag() }}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    {{ form.start_date.label(class="form-label") }}
                                    {{ form.start_date(class="form-control") }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    {{ form.end_date.label(class="form-label") }}
                                    {{ form.end_date(class="form-control") }}
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Calculate</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
