{% extends 'base.html' %}

{% block content %}
  <h2>Edit Work Report</h2>
  <form method="POST">
    {{ form.csrf_token }}
    <div class="form-group">
      {{ form.project_id.label }}
      {{ form.project_id(class="form-control") }}
    </div>
    <div class="form-group">
      {{ form.date.label }}
      {{ form.date(class="form-control") }}
    </div>
    <div class="form-group">
      {{ form.description.label }}
      {{ form.description(class="form-control") }}
    </div>
    <div class="form-group">
      {{ form.record_count.label }}
      {{ form.record_count(class="form-control") }}
    </div>
    <div class="form-group">
      {{ form.character_count.label }}
      {{ form.character_count(class="form-control") }}
    </div>
    <div class="form-group">
      {{ form.hours_worked.label }}
      {{ form.hours_worked(class="form-control") }}
    </div>
    <div class="form-group">
      {{ form.tasks_completed.label }}
      {{ form.tasks_completed(class="form-control") }}
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
  </form>
{% endblock %}
